@import "utils.css";

:root, * {
    margin: 0;
    padding: 0;

    /* Background Colours */
    --bg-base: rgb(230, 230, 230);
    --block-base: rgb(250, 250, 250);
    --bg-head: rgb(26, 28, 42);

    /* Text Colours */
    --text-title: #2d2d2d;
    --text-subtitle: #3a3a3a;
    --text-small: #787878;

    /* Geometry */
    --global-radius: 12px;
}

p { color: var(--text-subtitle); }
small { color: var(--text-small); text-decoration: underline; }
h1 { color: var(--text-title); margin: 8px; }

.application {
    width: 100vw;
    height: 100vh;
}

.header {
    height: 250px;
    width: 100%;
    background-color: var(--bg-head);
}

.menubar {
    display: flex;
    justify-content: end;
    align-items: center;
}

.menubar button {
    width: 64px;
    height: 24px;

    margin: 12px 12px;
}

.menubar input {
    height: 24px;
    border-radius: var(--global-radius);

    margin: 12px 12px;
}

.body {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;

    background-color: var(--bg-base);
}

.block-left {
    background-color: var(--block-base);

    height: 450px;
    width: 310px;

    border-radius: var(--global-radius);

    display: flex;
    flex-direction: column;

    position: relative;
    align-items: center;

    margin-left: 28px;
    top: -150px;
}

.block-left img {
    margin: 24px;

    width: 160px;
    border-radius: 100%;
}

.block-right {
    background-color: var(--block-base);

    margin: 28px;

    height: 450px;
    width: 310px;

    border-radius: var(--global-radius);
}
